
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
 
<title>Table</title>
 <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled Bootstrap JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
    <!-- Custom CSS -->
   <link href="../public/css/style.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="" href="logo - Copy.svg">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <!-- Tailwind Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
    
</head>

<body>
    <div class="body-container">
    <%- include ("./header") %> 
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->  
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <hr>
    <table class="table table-striped">
<thead>
<tr>
<th> Name </th>
<th> Age </th>
<th> Gender </th>
<th> Medical History </th>
<th>Dashboard</th>
</tr>
</thead> 
<tbody>
<tr>
<td>Varnit</td>
<td>22</td>
<td> M </td>
<td>Cancer</td>
<td><a href="/dashboard">See Results</a></td>
</tr>
</tbody>
</table>
<button class="btn btn-large btn-default btn-block btn-secondary"><a href="/patient-form"> New Patient</a></button>
 <!-- ============================================================== -->
</div>
</body>

</html>
<br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
<%- include ("./footer") %>