    <section class="pb-20 relative block bg-gray-900">
      <!-- Making Polygon Shape in Background -->
      <div
        class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px; transform: translateZ(0);"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-gray-900 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>

      <!-- Section Container -->
   
  
   <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
        <!-- Text Box -->
        <div class="flex flex-wrap text-center justify-center">
          <div class="w-full lg:w-6/12 px-4">
            <h2 class="text-4xl font-semibold text-white">Our Idea</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
              This project idea is to make a next generation self equipped wearable Health Monitor Device (Through Software & Hardware technologies) which helps people to move freely in public places without any hectic checkups.
            </p>
          </div>
          <div class="w-full lg:w-6/12 px-4 " >
          <h4 class="text-3xl font-semibold" 
          style="color: whitesmoke;
          align-self: baseline;"
          >Let's keep in touch!</h4>
          <h5 class="text-lg mt-0 mb-2 text-gray-700"style="color: whitesmoke;">
            Find us on Github.
          </h5>
          <!-- Social Media Buttons -->
          <div class="mt-6" >
            <a href="https://github.com/Srijan7777/Healthrific-Final" target="_blank"><i class="fab fa-github bg-white text-gray-900 shadow-lg font-lg p-3 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 inline-block text-center"></i></a>
          </div>
        </div>

        </div>
      </div>
        </section>