  <!-- Navigation -->
  <nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"style="padding-top:0%;">
      <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">

                <!-- Nav Title -->
                <div class ="logo" >
                   <a href="/" target="_self">
                  <img src="../images/logo.png" alt="LOGO" class="logo-style"
                  style="max-width: 100px;margin-top: 20px; "></a>
              </div>
              </a>
          </div>
        <!-- Nav Right Side -->
        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto" style="align-items:auto; padding: top 0px;">

       
          <!-- Social Media Button -->
          <li class="flex items-center">
            <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="/">
              <!-- Icon -->
               <h3 class="Nav" 
             style="align-items: flex-end; color:slategray;" >Signed in as Varnit</h3>

          <!-- Social Media Button -->
          <li class="flex items-center">
            <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="/register">
              <!-- Icon -->
             <h3 class="Nav" 
             style="align-items: flex-end; color:slategray;">Register</h3>
            </a>
          </li>
          
           <li class="flex items-center">
            <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="/logout">
              <!-- Icon -->
               <h3 class="Nav" 
             style="align-items: flex-end ; color:slategray;" >Logout</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End of Navigation -->