<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/login.css">
<title>Patient Form</title>
</head>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="" href="logo - Copy.svg">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <!-- Tailwind Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
<body>
  <body>
 <%- include ("./header") %>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Add New Patient</h3>
            </div>
        </div>
        <form class="login-form"action="/basic-table" method="POST">
          <input type="text" name="name"  placeholder="Name"/>
          <input type="text" name="age" placeholder="Age"/>
          <input type="text" name="gender"  placeholder="Gender"/>
          <input type="text" name="medical" placeholder="Medical History"/>
          <button>Add New Patient</button>
          <p class="message">All Patients <a href="/basic-table">Go Back!</a></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>
<%- include ("./footer") %>